<main>
    <h3>Bought a new vehicle? Add it to your garage</h3>

    <div>
        <form [formGroup]="newVehicleForm" (ngSubmit)="$event.preventDefault(); submitGarageVehicle()">
            <!-- name -->
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" formControlName="name" placeholder="name" class="form-input">
                <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('name')?.hasError('required') && newVehicleForm.get('name')?.touched">
                   <h3 class="validation-error">Vehicle name is required</h3>
                </div>
            </div>

            <!-- price -->
            <div class="flex  items-center  gap-2">
                <!-- buying price -->
                <div class="form-control w-full">
                    <label for="name">Buying Price</label>
                    <input type="number" formControlName="buyingPrice" placeholder="buying price" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('buyingPrice')?.hasError('required') && newVehicleForm.get('buyingPrice')?.touched">
                   <h3 class="validation-error">Buying price is required</h3>
                </div>
                </div>

                <!-- current value -->
                <div class="form-control w-full">
                    <label for="name">Current value</label>
                    <input type="number" formControlName="currentValue" placeholder="current value" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('currentValue')?.hasError('required') && newVehicleForm.get('currentValue')?.touched">
                   <h3 class="validation-error">Vehicle current value is required</h3>
                </div>
                </div>
            </div>

            <!-- color and location -->
            <div class="flex  items-center  gap-2">
                <!-- color -->
                <div class="form-control w-full">
                    <label for="name">Color</label>
                    <input type="text" formControlName="color" placeholder="color" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('color')?.hasError('required') && newVehicleForm.get('color')?.touched">
                   <h3 class="validation-error">Vehicle color is required</h3>
                </div>
                </div>
                <!-- location -->
                <div class="form-control w-full">
                    <label for="name">Location</label>
                    <input type="text" formControlName="location" placeholder="location" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('location')?.hasError('required') && newVehicleForm.get('location')?.touched">
                   <h3 class="validation-error">Vehicle location is required</h3>
                </div>
                </div>
            </div>

            <!-- info -->
            <div class="form-control w-full">
                <label for="info">Info</label>
                <input type="text" formControlName="info" placeholder="the story " class="form-input">
                 <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('info')?.hasError('required') && newVehicleForm.get('info')?.touched">
                   <h3 class="validation-error">Vehicle info is required</h3>
                </div>
            </div>

            <!-- perfomance modifications -->
            <div class="form-control w-full">
                <label for="performance">Performance Modifications</label>
                <input type="text" formControlName="perfomanceModifications"
                    placeholder="perfomance modifications done " class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('performanceModifications')?.hasError('required') && newVehicleForm.get('performanceModifications')?.touched">
                   <h3 class="validation-error">Vehicle performance modifications are required</h3>
                </div>
            </div>
            <!-- cosmetic modifications -->
            <div class="form-control w-full">
                <label for="cosmetic">Cosmetic Modifications</label>
                <input type="text" formControlName="cosmeticModifications" placeholder="cosmetic modifications done "
                    class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('cosmeticModifications')?.hasError('required') && newVehicleForm.get('cosmeticModifications')?.touched">
                   <h3 class="validation-error">Vehicle cosmetic modifications are required</h3>
                </div>
            </div>

            <!-- manufacture year and previous owners -->
            <div class="flex  items-center  gap-2">
                <!-- manufacture year -->
                <div class="form-control w-full">
                    <label for="yom">Manufacture Year</label>
                    <input type="number" formControlName="manufactureYear" placeholder="manufacture year"
                        class="form-input">
                         <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('manufactureYear')?.hasError('required') && newVehicleForm.get('manufactureYear')?.touched">
                   <h3 class="validation-error">Vehicle manufacture year is required</h3>
                </div>
                </div>
                <!-- previous owners -->
                <div class="form-control w-full">
                    <label for="owners">Previous Owners</label>
                    <input type="number" formControlName="previousOwners" placeholder="previous owners"
                        class="form-input">
                         <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('previousOwners')?.hasError('required') && newVehicleForm.get('previousOwners')?.touched">
                   <h3 class="validation-error">Vehicle previous owners is required</h3>
                </div>
                </div>
            </div>

            <!-- make and model -->
            <div class="flex  items-center  gap-2">
                <!-- make -->
                <div class="form-control w-full">
                    <label for="make">Make</label>
                    <select name="make" class="form-input">
                        <option value="make">Car Make </option>
                        <option value="{{carmake.value}}" *ngFor="let carmake of carmakes"> {{carmake.name}} </option>
                    </select>
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('make')?.hasError('required') && newVehicleForm.get('make')?.touched">
                   <h3 class="validation-error">Vehicle make is required</h3>
                </div>
                </div>

                <!-- model -->
                <div class="form-control">
                    <label for="model">Model</label>
                    <input type="text" formControlName="model" placeholder="model" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('model')?.hasError('required') && newVehicleForm.get('model')?.touched">
                   <h3 class="validation-error">Vehicle model is required</h3>
                </div>
                </div>
            </div>

            <!-- doors and seat count -->
            <div class="flex  items-center  gap-2">
                <!-- doors count -->
                <div class="form-control w-full">
                    <label for="doorsCount">Doors count</label>
                    <input type="number" formControlName="doorsCount" placeholder="doors count" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('doorsCount')?.hasError('required') && newVehicleForm.get('doorsCount')?.touched">
                   <h3 class="validation-error">Vehicle number of doors is required</h3>
                </div>
                </div>

                <!-- seat count -->
                <div class="form-control w-full">
                    <label for="seatsCount">Seats Count</label>
                    <input type="number" formControlName="seatCount" placeholder="number of seats" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('seatsCount')?.hasError('required') && newVehicleForm.get('seatCount')?.touched">
                   <h3 class="validation-error">Vehicle seat count is required</h3>
                </div>
                </div>
            </div>

            <!-- acceleration and top speed -->
            <div class="flex  items-center  gap-2">
                <!-- acceleration -->
                <div class="form-control w-full">
                    <label for="doorsCount">Acceleration (0-100)</label>
                    <input type="number" formControlName="acceleration" placeholder="acceleration" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('acceleration')?.hasError('required') && newVehicleForm.get('acceleration')?.touched">
                   <h3 class="validation-error">Vehicle acceleration time is required</h3>
                </div>
                </div>

                <!-- top speed -->
                <div class="form-control w-full">
                    <label for="topSpeed">Top speed km</label>
                    <input type="number" formControlName="topSpeed" placeholder="top speed" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('topSpeed')?.hasError('required') && newVehicleForm.get('topSpeed')?.touched">
                   <h3 class="validation-error">Vehicle top speed is required</h3>
                </div>
                </div>
            </div>

            <!-- engine capacity and power -->
            <div class="flex  items-center  gap-2">
                <!-- engineCapacity -->
                <div class="form-control w-full">
                    <label for="engineCapacity">Engine Capacity</label>
                    <input type="number" formControlName="engineCapacity" placeholder="engine capacity"
                        class="form-input">
                         <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('engineCapacity')?.hasError('required') && newVehicleForm.get('engineCapacity')?.touched">
                   <h3 class="validation-error">Vehicle engine capacity is required</h3>
                </div>
                </div>

                <!-- engine power -->
                <div class="form-control w-full">
                    <label for="enginePower">Engine Power</label>
                    <input type="number" formControlName="enginePower" placeholder="engine power" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('enginePower')?.hasError('required') && newVehicleForm.get('enginePower')?.touched">
                   <h3 class="validation-error">Vehicle engine power is required</h3>
                </div>
                </div>
            </div>

            <!-- engine position and layout -->
            <div class="flex  items-center  gap-2">
                <!-- engine position -->
                <div class="form-control w-full">
                    <label for="enginePosition">Engine Position</label>
                    <select formControlName="enginePosition" class="border flex-1 w-full p-2 form-input">
                        <option value="">Engine Position</option>
                        <option value="{{engineposition.value}}" *ngFor="let engineposition of engine_positions">
                            {{engineposition.name}} </option>
                    </select>
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('enginePosition')?.hasError('required') && newVehicleForm.get('enginePosition')?.touched">
                   <h3 class="validation-error">Vehicle engine position is required</h3>
                </div>
                </div>

                <!-- engine layout -->
                <div class="form-control w-full">
                    <label for="engineLayout">Engine Layout</label>
                    <select formControlName="engineLayout" class="border flex-1 w-full p-2 form-input">
                        <option value="">Engine Layout</option>
                        <option value="{{enginelayout.value}}" *ngFor="let enginelayout of engine_layouts">
                            {{enginelayout.name}} </option>
                    </select>
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('engineLayout')?.hasError('required') && newVehicleForm.get('engineLayout')?.touched">
                   <h3 class="validation-error">Vehicle engine layout is required</h3>
                </div>
                </div>

                <!-- engine aspiration -->
                <div class="form-control w-full">
                    <label for="engineAspiration">Engine Aspiration</label>
                    <select formControlName="engineAspiration" class="border flex-1 w-full p-2 form-input">
                        <option value="">Engine Aspiration</option>
                        <option value="{{engineaspiration.value}}" *ngFor="let engineaspiration of engine_aspirations">
                            {{engineaspiration.name}} </option>
                    </select>
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('engineAspiration')?.hasError('required') && newVehicleForm.get('engineAspiration')?.touched">
                   <h3 class="validation-error">Vehicle engine aspiration is required</h3>
                </div>
                </div>
            </div>

            <!-- fueltype, mileage  and consumption -->
            <div class="flex  items-center  gap-2">
                <!-- mileage -->
                <div class="form-control w-full">
                    <label for="mileage">mileage</label>
                    <input type="number" formControlName="mileage" placeholder="mileage" class="form-input">
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('mileage')?.hasError('required') && newVehicleForm.get('mileage')?.touched">
                   <h3 class="validation-error">Vehicle mileage is required</h3>
                </div>
                </div>

                <!-- fueltype -->
                <div class="form-control w-full">
                    <label for="fuelType">Fuel type</label>
                    <select formControlName="fuelType" class="border flex-1 w-full p-2 form-input">
                        <option value="">Fuel Type</option>
                        <option value="{{fueltype.value}}" *ngFor="let fueltype of fueltypes"> {{fueltype.name}}
                        </option>
                    </select>
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('fuelType')?.hasError('required') && newVehicleForm.get('fuelType')?.touched">
                   <h3 class="validation-error">Vehicle fuel type is required</h3>
                </div>
                </div>

                <!-- consumption -->
                <div class="form-control w-full">
                    <label for="consumption">Fuel consumption</label>
                    <input type="text" formControlName="fuelConsumption" placeholder="fuel consumption"
                        class="form-input">
                         <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('fuelConsumption')?.hasError('required') && newVehicleForm.get('fuelConsumption')?.touched">
                   <h3 class="validation-error">Vehicle estimated fuel consumption is required</h3>
                </div>
                </div>
            </div>

            <!-- transmission and drivetrain -->
            <div class="flex  items-center  gap-2">
                <!-- transmission -->
                <div class="form-control w-full">
                    <label for="transmission">Transmission</label>
                    <select formControlName="transmissionType" class="border flex-1 w-full p-2 form-input">
                        <option value="Default">Transmission</option>
                        <option value="{{transmission.value}}" *ngFor="let transmission of transmission_types">
                            {{transmission.name}} </option>
                    </select>
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('transmissionType')?.hasError('required') && newVehicleForm.get('transmissionType')?.touched">
                   <h3 class="validation-error">Vehicle transmission type is required</h3>
                </div>
                </div>

                <!-- drivetrain -->
                <div class="form-control w-full">
                    <label for="drivetrain">Drive train</label>
                    <select formControlName="driveTrain" class="border flex-1 w-full p-2 form-input">
                        <option value="">Drivetrain</option>
                        <option value="{{drivetrain.value}}" *ngFor="let drivetrain of drivetrains"> {{drivetrain.name}}
                        </option>
                    </select>
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('driveTrain')?.hasError('required') && newVehicleForm.get('driveTrain')?.touched">
                   <h3 class="validation-error">Vehicle drive train is required</h3>
                </div>
                </div>

                <!-- bodytype -->
                <div class="form-control w-full">
                    <label for="bodyType">Body Type</label>
                    <select formControlName="bodyType" class="border flex-1 w-full p-2 form-input">
                        <option value="">Body Type</option>
                        <option value="{{bodytype.value}}" *ngFor="let bodytype of bodytypes"> {{bodytype.name}}
                        </option>
                    </select>
                     <!-- display validation error -->
                <div *ngIf="newVehicleForm.get('bodyType')?.hasError('required') && newVehicleForm.get('bodyType')?.touched">
                   <h3 class="validation-error">Vehicle body type is required</h3>
                </div>
                </div>
            </div>


            <!-- photos -->
            <div>
                <app-fileupload (selectedFilesChanged)="getVehiclePhotos($event)" styleMethod="listing" ></app-fileupload>
            </div>


            <!-- submit -->
            <div>
                <button>Submit</button>
            </div>
            {{newVehicleForm.value| json}}
        </form>
    </div>
</main>