<p>boatform works!</p>
<form>
     <div class="flex flex-col my-1">
        <label for="top_speed">Top speed</label>
        <input type="number" formControlName="topSpeed" class="form-input">
    </div>
    <!-- vehicle engine layout -->
    <div class="flex flex-col my-1">
        <label for="engine_layout">Engine layout</label>
        <input type="text" class="form-input" formControlName="engineLayout" placeholder="engine layout">
    </div>
    <!-- vehicle engine position -->
    <div class="flex flex-col my-1">
        <label for="engine_position">Engine position</label>
        <input type="text" class="form-input" formControlName="enginePosition" placeholder="engine position">
    </div>
</form>
