<!-- {{clubs | json }} -->
<app-loading-error-indicator [loading]="isLoading">
    <div class="hero">

    </div>
    <main class="py-3">
    <div class="flex items-center justify-between my-2">
        <div class="flex items-center gap-2">
            <h3>All</h3>
            <button routerLink="/clubs/joined">Joined</button>
        </div>
    
        <div class="flex items-center gap-2">
            <button routerLink="/clubs/my-clubs">My Clubs</button>
            <button routerLink="/clubs/new-club">New Club</button>
        </div>
    </div>
    
    <div *ngIf="clubs.length <= 0; else displayClubs">
       <h3>no clubs</h3>
    </div>
</main>
</app-loading-error-indicator>

<ng-template #displayClubs>
   
    
    <!-- clubs list -->
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3 mt-2">
        <app-club *ngFor="let club of clubs" [club]="club" ></app-club>
    </div>
</ng-template>


