<div class="max-h-fit py-4 mx-auto max-w-max-width max-sm:w-full max-sm:p-3">
   <div class="flex items-center gap-2 flex-wrap max-sm:flex-col">
      <div class="flex-1">
        <h3 class="mb-3 text-lg">Buy and Sell</h3>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero debitis ab cumque facere, aut, 
            recusandae corrupti voluptatibus odio magnam quam dolorum ad quasi distinctio tempora? Nulla expedita veniam nobis tempore modi officia voluptate blanditiis voluptatem.
          </p>
          <button class="mt-2 bg-blue-500 rounded shadow p-2">List my classified</button>
        </div>
      </div>

      <div class="flex-1">
        <h3 class="mb-3 text-lg">Our numbers</h3>
       
        <div class="grid grid-cols-1 max-sm:grid-cols-1 md:grid-cols-3 gap-3">
        <!-- total listings -->
        <div class="bg-gray-100 p-2 rounded-sm shadow-md flex items-center justify-center flex-col">
          <div>
            icon
          </div>
          <span>{{allListings}} + </span>
        </div>
        <!-- vehicle listings -->
          <div class="bg-gray-100 p-2 rounded-sm shadow-md flex items-center justify-center flex-col">
          <div>
            icon
          </div>
          <span>{{vehicleListings}} + </span>
        </div>

        <!-- motorbike listings -->
          <div class="bg-gray-100 p-2 rounded-sm shadow-md flex items-center justify-center flex-col">
          <div>
            icon
          </div>
          <span>{{motorbikeListings}} + </span>
        </div>

        <!-- sold listings -->
            <div class="bg-gray-100 p-2 rounded-sm shadow-md flex items-center justify-center flex-col">
          <div>
            icon
          </div>
          <span>{{motorbikeListings}} + </span>
        </div>

        <!-- sold vehicles -->
            <div class="bg-gray-100 p-2 rounded-sm shadow-md flex items-center justify-center flex-col">
          <div>
            icon
          </div>
          <span>{{motorbikeListings}} + </span>
        </div>

        <!-- sold motorbikes -->
            <div class="bg-gray-100 p-2 rounded-sm shadow-md flex items-center justify-center flex-col">
          <div>
            icon
          </div>
          <span>{{motorbikeListings}} + </span>
        </div>
        </div>

      </div>
   </div>
</div>
