<p>horizontalscroll works!</p>
<div class="bg-blue-400 min-h-banner p-2 rounded shadow flex items-center overflow-hidden">
    <button (click)="scrollPrevious()">prev</button>
    <div class="h-full bg-white w-full flex overflow-x-scroll" #scrollElement>
        <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
         <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
         <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
         <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
       
          <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
       
          <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
       
          <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
       
          <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
       
          <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
       
          <div class="h-80 w-80 p-2 bg-green-400 flex-auto">
            <h3>item 1</h3>
        </div>
       
    </div>
    <button (click)="scrollNext()">next</button>
</div>
