<main class="mt-3">
    <div>
        <form [formGroup]="clubForm" (ngSubmit)="$event.preventDefault(); submitForum()">
            <!-- forum name -->
            <div>
                <label for="name">Forum name:</label>
                <input type="text" formControlName="clubName"  placeholder="name of your club" class="form-input">
            </div>

            <!-- forum description -->
            <div>
                <label for="name">Forum description:</label>
                <textarea type="text" formControlName="clubDescription" placeholder="description of your club" class="form-input"></textarea>
            </div>

            <!-- forum accesibility -->
            <div>
                <label for="name">Forum accesibility:</label>
                <input type="text" formControlName="clubAccessibility" placeholder="name of your club" class="form-input">
            </div>

            <!-- forum logo -->
            <div class="my-4 h-80 w-80 bg-slate-500 flex items-center justify-center">
                <app-fileupload (selectedFilesChanged)="onSelectedFilesChanged($event)" ></app-fileupload>
            </div>

            <!-- forum cover pic -->
            <div class="h-40 flex justify-center items-center bg-slate-500">
                <app-fileupload (selectedFilesChanged)="onSelectedLogoChanged($event)" ></app-fileupload>
            </div>

            <div class="mt-5 flex justify-end">
                <button class="bg-blue-500 py-2 px-3" type="submit">Create club</button>
            </div>
        </form>
    </div>
</main>
