<div class="bg-blue-400 h-60 mb-5">
    hero

    <h3>Browse Auction Listings</h3>
    <p>Browse vehicles and motorbikes listed for auctioning</p>

    <button class="bg-blue-400" routerLink="/auctions/new-auction" >New Auction</button>
</div>

<main class="py-5">
    <div *ngIf="isLoading; else content">
        <app-loading-spinner></app-loading-spinner>
    </div>
</main>

<ng-template #content>
    <div >

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-sm:grid-cols-1 gap-3 mb-3">
        <!-- {{auctions | json}} -->
        <app-auction *ngFor="let auction of auctions" [auction]="auction" ></app-auction>
    </div>
    
</ng-template>
