<div class="bg-gray-50 shadow p-2 rounded my-2">
    <h3>Seller Information</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aliquid quaerat tempora et veritatis officiis
        deleniti. Obcaecati dignissimos nulla necessitatibus amet. Dolore optio exercitationem voluptatum magnam
        aspernatur qui esse itaque.
    </p>
    <div>
        phone: 0741534141
    </div>

    <div>
        <button class="w-full border-blue-500 border-2 rounded my-2 p-2 text-black hover:bg-blue-600">View Dealer Stock</button>
    </div>
</div>