<div class="max-h-fit py-4 mx-auto max-w-max-width max-sm:w-full max-sm:p-3">
    <h3 class="font-medium mb-2 text-2xl">Features you care about</h3>

    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3">
      <!-- classifieds -->
      <div class="bg-white p-2 shadow-sm rounded-sm">
        <!-- icon -->
        <div class="flex items-center justify-center">
          icon
        </div>
        <h3 class="my-2">Marketplace</h3>
        <p>
          We provide a platform for users to sell and buy vehicles, motorbikes, bicycles, boats, aeroplanes and spare parts.
        </p>
      </div>

       <!-- auctions -->
       <div class="bg-white p-2 shadow-sm rounded-sm">
        <!-- icon -->
        <div class="flex items-center justify-center">
          icon
        </div>
        <h3 class="my-2">Auctions</h3>
        <p>
          Live and real-time auction and bidding on classic, new and collectible vehicles and motorbikes.
        </p>
      </div>

      <!-- banter and socialize -->
      <div class="bg-white p-2 shadow-sm rounded-sm">
        <!-- icon -->
        <div class="flex items-center justify-center">
          icon
        </div>
        <h3 class="my-2">Community</h3>
        <p>
          Join clubs, discover events, build your garage and share your thoughts with other enthuzees. 
        </p>
      </div>

      <!-- business and advertisements -->
      <div class="bg-white p-2 shadow-sm rounded-sm">
        <!-- icon -->
        <div class="flex items-center justify-center">
          icon
        </div>
        <h3 class="my-2">Businesses</h3>
        <p>
          Find the best businesses in your area and learn about the services they offer.
        </p>
      </div>
     
    </div>
  </div>
