<div
    class="my-3 bg-white rounded shadow h-max p-2 flex items-center justify-center flex-col w-80  max-sm:w-full">
    <div class="w-24 h-24 object-cover rounded-full overflow-hidden flex items-center justify-center">
        <img src="{{business.logo}}" alt="{{business.name}}" class="w-full h-full object-cover">
    </div>
    <h3>{{business.name}}</h3>
    <div>
        <button>Call</button>
        <button>Message</button>
        <button>Share</button>
    </div>

    <div *ngIf="isListing">
        <button>View dealer stock</button>
    </div>
</div>