<div class="bg-white  p-2 rounded shadow-sm mb-3">
    <div *ngIf="loading; else showPages">
        <h3>Loading business pages</h3>
    </div>
</div>

<ng-template #showPages>
    <div class="flex items-center overflow-x-auto">
        <button class="bg-blue-500 text-white p-2 rounded shadow mb-2" routerLink="/business/add">Create a
            business
            page</button>

        <div *ngIf="businessPages.length <= 0; else businessesList">
            <h3>{{httpResponse.message}}</h3>
        </div>
    </div>

</ng-template>

<ng-template #businessesList>
    <div *ngFor="let business of businessPages" class="flex items-center gap-4">
        <div class="border mb-2 ">
            {{business.name}}
        </div>
    </div>
</ng-template>