<mat-progress-bar color="primary" mode="indeterminate" *ngIf="isNavigating" ></mat-progress-bar>
<!-- <mat-progress-bar color="primary" mode="indeterminate" *ngIf="(isNavigating$ | async) !== undefined"></mat-progress-bar> -->
<!-- <mat-progress-bar color="primary" mode="indeterminate" *ngIf="isNavigating$ | async as isNavigating"></mat-progress-bar>
<mat-progress-bar color="primary" mode="indeterminate" *ngIf="isNavigating$ | async"></mat-progress-bar>
<mat-progress-bar color="primary" mode="indeterminate" *ngIf="isNavigating$ | async"></mat-progress-bar> -->
<h3 *ngIf="isNavigating">navigating</h3>






