<div class="bg-gray-50 shadow p-2 rounded my-2 w-96">
    <h3>Contact Seller</h3>
    <!-- seller's phone number -->
    <div>
        <h3>Phone</h3>
        <p>0741534141</p>
    </div>
    <!-- contact form -->
    <form>
        <!-- your email -->
        <div class="flex flex-col my-1">
            <label for="name">Your Email</label>
            <input type="email"  class="form-input">
        </div>

        <!-- your message -->
         <div class="flex flex-col my-1">
            <label for="name">Your Email</label>
            <textarea type="text" class="form-input" cols="5" rows="8" ></textarea>
        </div>

        <div>
            <button class="bg-blue-500 text-white rounded shadow p-2 w-full my-2">Send Message</button>
        </div>
    </form>

</div>